<!-- 快递员看到的界面 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="vendor/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <script src="lib/js/angular/angular.js"></script>
    <script src="lib/js/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="js/connection.ser.js"></script>

    <script>
        angular.module('CourierApp', ['ui.bootstrap', 'Utils']).controller('CourierCtrl',
        function ($scope, $window, $uibModal,Connection) {
        	$scope.accept = accept;
        	init();
        	function init(){
              Connection.get('/api/order/createdAndAcceptedOrders',{},function(res){
                $scope.createdAndAcceptedOrders = res.data;
              });
        	}

        	function accept(index) {
        	    var param = {};
        	    param["orderID"] = $scope.createdAndAcceptedOrders[index].id;
              Connection.get('/api/order/acceptOrder',param,function(res){
                  $scope.createdAndAcceptedOrders.splice(index,1);
                  alert("accept order success!");
              });
          }
            
       })
    </script>
  </head>
  <body ng-app="CourierApp" ng-controller="CourierCtrl">
  
  	<table class="table table-striped table-bordered table-hover fee-table-bordered" style="top: 20px;">
        <thead>
        <tr>
            <th class="text-center">Order_id</th>
            <th class="text-center">Food_Name</th>
            <th class="text-center">Customer_Name</th>
            <th class="text-center">Amount</th>
            <th class="text-center">Choose</th>
        </tr>
        </thead>
        <tbody>
        
        
        <tr ng-repeat="order in createdAndAcceptedOrders">
            <td class="text-center" ng-bind="order.id"></td>
            <td class="text-center" ng-bind="order.food.foodName"></td>
            <td class="text-center" ng-bind="order.customerID.name"></td>
            <td class="text-center" ng-bind="order.amount"></td>
            <td class="text-center">
                <button class="btn btn-sm btn-primary" data-ng-click="accept($index)">
                    	accept
                </button>
            </td>
        </tr>
        </tbody>
    </table>	
    
  </body>
</html>