<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="vendor/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <script src="lib/js/angular/angular.js"></script>
    <script src="lib/js/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="js/connection.ser.js"></script>

    <script>
        angular.module('FoodApp', ['ui.bootstrap', 'Utils']).controller('FoodCtrl',
        function ($scope, $window, $uibModal,Connection) {
        	$scope.init = init;
        	init();
        	function init(){
        		Connection.get('/api/order/createdOrders',{},function(res){
        			$scope.createdOrder = res.data;
        			console.log(res.data)
        		});
        	}
            
       })
    </script>
  </head>
  <body ng-app="FoodApp" ng-controller="FoodCtrl">
  
  	<table class="table table-striped table-bordered table-hover fee-table-bordered" style="top: 20px;">
        <thead>
        <tr>
            <th class="text-center">Order_id</th>
            <th class="text-center">Food_Name</th>
            <th class="text-center">Customer_Name</th>
            <th class="text-center">Amount</th>
            <th class="text-center">Choose</th>
        </tr>
        </thead>
        <tbody>
        
        
        <tr ng-repeat="order in createdOrder">
            <td class="text-center" ng-bind="order.id"></td>
            <td class="text-center" ng-bind="order.food.foodName"></td>
            <td class="text-center" ng-bind="order.customerID.name"></td>
            <td class="text-center" ng-bind="order.amount"></td>
            <td class="text-center">
                <button class="btn btn-sm btn-primary" data-ng-click="update(restaurant.id)">
                    	接受订单
                </button>
            </td>
        </tr>
        </tbody>
    </table>	
    
  </body>
</html>